<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Home.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HomeSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62F8012B1F9B5D780038DD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F801431F9B5D780038DD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F8014E1F9B5D790038DD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62F8018D1F9B8C390038DD5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
